@import '~@angular/material/theming';
@include mat-core();

$patia-app-primary: mat-palette($mat-teal, 500);
$patia-app-accent: mat-palette($mat-green, 500, A100, A400);
$patia-app-warn: mat-palette($mat-red, 600);

$patia-app-theme: mat-light-theme(
  $patia-app-primary,
  $patia-app-accent,
  $patia-app-warn
);

@include angular-material-theme($patia-app-theme);

:root {
  --default-primary-color: #009688;
  --dark-primary-color: #004d40;
  --light-primary-color: #e0f2f1;
  --accent-color: #80cbc4;

  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --card-background: #efefef;
}
